
@{
    ViewBag.Title = "KullaniciListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<kitaptakas.Models.Kullanicilar>
<div class="card card-primary">
    <div class="bs-example widget-shadow" data-example-id="contextual-table">
        <h4>Kullanıcılar:</h4>
        <table class="table"> 
        <thead>
             <tr>

             <th>#</th>
             <th>Kullanıcı Adı  </th>
             <th>Soyadı</th>
             <th>Email</th> 
                 <th>Cinsiyet</th> 
                 <th>Telefon</th> 
               
                 <th>Kullanıcı Sil</th>

            </tr> 
            </thead>
         <tbody> @{ int i = 1;}
             @foreach (var kul in Model)
             {
            <tr class="active">
                <td>@i.ToString()</td>
              <td>@kul.kullaniciAdi</td>
                <td>@kul.kullaniciSoyadi</td>
                <td>@kul.eMail</td>
                <td>@kul.cinsiyet</td>
                <td>@kul.telefon</td>
                
             <td><a href="/Admin/KullaniciSil/@kul.kullaniciID" class="btn  btn-danger " title="Sil"> <i class="fa fa-minus"></i></a></td>
           
              </tr>  i++; } 
            </tbody>
         </table>
    </div>
    </div>
